<a href="https://colab.research.google.com/github/AndriuGJ/Ejercicios_PANDAS/blob/main/Ejer_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

EJERCICIO 1

In [3]:
# Solicitar rango de años
inicio = int(input("Ingrese el año inicial: "))
fin = int(input("Ingrese el año final: "))
años = list(range(inicio, fin + 1))

# Solicitar ventas para cada año
ventas = []
for año in años:
    venta = float(input(f"Ingrese las ventas para el año {año}: "))
    ventas.append(venta)

# Crear Serie con las ventas
serie_ventas = pd.Series(ventas, index=años)
print("\nVentas sin descuento:\n", serie_ventas)

# Aplicar descuento del 10%
serie_descuento = serie_ventas * 0.9
print("\nVentas con descuento del 10%:\n", serie_descuento)

Ingrese el año inicial: 2020
Ingrese el año final: 2023
Ingrese las ventas para el año 2020: 1200
Ingrese las ventas para el año 2021: 1200
Ingrese las ventas para el año 2022: 1500
Ingrese las ventas para el año 2023: 1700

Ventas sin descuento:
 2020    1200.0
2021    1200.0
2022    1500.0
2023    1700.0
dtype: float64

Ventas con descuento del 10%:
 2020    1080.0
2021    1080.0
2022    1350.0
2023    1530.0
dtype: float64

EJERCICIO 2 ->
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva
una serie con la nota mínima, la máxima, media y la desviación típica.

In [4]:
df = pd.read_csv('misDatosCSV.csv')

# Convertir a diccionario
notas_dict = dict(zip(df['Alumno'], df['Nota']))

def estadisticas_notas(notas):
    serie = pd.Series(notas)
    return pd.Series({
        'Mínima': serie.min(),
        'Máxima': serie.max(),
        'Media': serie.mean(),
        'Desviación típica': serie.std()
    })

# Llamar a la función
resultado = estadisticas_notas(notas_dict)
print("Estadísticas de las notas:\n", resultado)

Estadísticas de las notas:
 Mínima                6.000000
Máxima               10.000000
Media                 8.250000
Desviación típica     1.707825
dtype: float64

EJERCICIO 3 ->
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva
una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [5]:
df = pd.read_csv('misDatosCSV.csv')

# Convertir a diccionario
notas_dict = dict(zip(df['Alumno'], df['Nota']))

def notas_aprobados(notas):
    serie = pd.Series(notas)
    aprobados = serie[serie >= 7].sort_values(ascending=False)
    return aprobados

# Llamar a la función
resultado = notas_aprobados(notas_dict)
print("Notas de alumnos aprobados (ordenadas de mayor a menor):\n", resultado)

Notas de alumnos aprobados (ordenadas de mayor a menor):
 Eva      10
Lucia     9
M Mar     8
dtype: int64

EJERCICIO 4 -> Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla
siguiente:
Mes Ventas Gastos
Enero 30500 22000
Febrero 35600 23400
Marzo 28300 18100
Abril
33900 20700

In [6]:
datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}
df = pd.DataFrame(datos)
print("DataFrame con los datos:\n", df)

DataFrame con los datos:
        Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

EJERCICIO 5 -> Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de
meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [8]:
datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}
df = pd.DataFrame(datos)

def calcular_balance(df, meses):
    # Filtrar los meses indicados
    df_filtrado = df[df['Mes'].isin(meses)].copy()
    # Calcular balance (Ventas - Gastos)
    df_filtrado.loc[:, 'Balance'] = df_filtrado['Ventas'] - df_filtrado['Gastos']
    # Sumar el balance total
    balance_total = df_filtrado['Balance'].sum()
    return balance_total

# Ejemplo de uso
meses = ['Enero', 'Marzo']
resultado = calcular_balance(df, meses)
print(f"Balance total para {meses}: {resultado}")

Balance total para ['Enero', 'Marzo']: 18700

EJERCICIO 6 -> El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes
columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo
(precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la
jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros).
Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y
devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [9]:
datos = {
    'nombre': ['EmpresaA', 'EmpresaB', 'EmpresaC'],
    'Final': [100.5, 200.75, 150.25],
    'Máximo': [110.0, 210.0, 155.0],
    'Mínimo': [95.0, 190.0, 145.0],
    'volumen': [1000, 2000, 1500],
    'Efectivo': [50000, 100000, 75000]
}
df = pd.DataFrame(datos)

def estadisticas_cotizaciones(df):
    numericas = df.select_dtypes(include=['float64', 'int64'])
    resultado = pd.DataFrame({
        'Mínimo': numericas.min(),
        'Máximo': numericas.max(),
        'Media': numericas.mean()
    })
    return resultado
resultado = estadisticas_cotizaciones(df)
print("Estadísticas de las cotizaciones:\n", resultado)

Estadísticas de las cotizaciones:
            Mínimo     Máximo         Media
Final       100.5     200.75    150.500000
Máximo      110.0     210.00    158.333333
Mínimo       95.0     190.00    143.333333
volumen    1000.0    2000.00   1500.000000
Efectivo  50000.0  100000.00  75000.000000

EJERCICIO 7 -> El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con
los siguientes requisitos:
Generar un DataFrame con los datos del fichero.
Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres
de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
Mostrar por pantalla los datos del pasajero con identificador 148.
Mostrar por pantalla las filas pares del DataFrame.
Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas
alfabéticamente.
Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
Eliminar del DataFrame los pasajeros con edad desconocida.
Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [10]:
import pandas as pd

df = pd.read_csv('titanic.csv')

# 1. Dimensiones del DataFrame
print("Dimensiones del DataFrame:", df.shape)

# 2. Número de datos
print("\nNúmero de datos:", df.size)

# 3. Nombres de columnas
print("\nNombres de columnas:", df.columns.tolist())

# 4. Nombres de filas (índices)
print("\nÍndices de filas:", df.index.tolist())

# 5. Tipos de datos de las columnas
print("\nTipos de datos:\n", df.dtypes)

# 6. Primeras 10 filas
print("\nPrimeras 10 filas:\n", df.head(10))

# 7. Últimas 10 filas
print("\nÚltimas 10 filas:\n", df.tail(10))

# 8. Datos del pasajero con ID 148
print("\nPasajero con ID 148:\n", df[df['PassengerId'] == 148])

# 9. Filas pares (índices pares)
print("\nFilas pares:\n", df.iloc[::2])

# 10. Nombres de personas en primera clase, ordenados alfabéticamente
primera_clase = df[df['Pclass'] == 1][['Name']].sort_values(by='Name')
print("\nNombres en primera clase (ordenados):\n", primera_clase)

# 11. Porcentaje de personas que sobrevivieron y murieron
porcentaje_sobrevivientes = df['Survived'].value_counts(normalize=True) * 100
print("\nPorcentaje de sobrevivientes y fallecidos:\n", porcentaje_sobrevivientes)

# 12. Porcentaje de personas que sobrevivieron en cada clase
porcentaje_por_clase = df.groupby('Pclass')['Survived'].mean() * 100
print("\nPorcentaje de sobrevivientes por clase:\n", porcentaje_por_clase)

# 13. Eliminar pasajeros con edad desconocida
df_sin_edad = df.dropna(subset=['Age'])
print("\nDataFrame sin edades desconocidas (primeras 5 filas):\n", df_sin_edad.head())

# 14. Edad media de las mujeres por clase
mujeres = df[df['Sex'] == 'female']
edad_media_mujeres = mujeres.groupby('Pclass')['Age'].mean()
print("\nEdad media de mujeres por clase:\n", edad_media_mujeres)

# 15. Añadir columna booleana para menor de edad (<18)
df['MenorEdad'] = df['Age'] < 18
print("\nDataFrame con columna MenorEdad (primeras 5 filas):\n", df[['PassengerId', 'Name', 'Age', 'MenorEdad']].head())

# 16. Porcentaje de menores y mayores que sobrevivieron en cada clase
df['EdadGrupo'] = df['MenorEdad'].map({True: 'Menor', False: 'Mayor'})
porcentaje_sobrevivientes_edad = df.groupby(['Pclass', 'EdadGrupo'])['Survived'].mean() * 100
print("\nPorcentaje de sobrevivientes por clase y grupo de edad:\n", porcentaje_sobrevivientes_edad)

Dimensiones del DataFrame: (891, 12)

Número de datos: 10692

Nombres de columnas: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Índices de filas: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]

Tipos de datos:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Últimas 10 filas:
      PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

Pasajero con ID 148:
      PassengerId  Survived  Pclass                              Name     Sex  \
147          148         0       3  Ford, Miss. Robina Maggie "Ruby"  female

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
147  9.0      2      2  W./C. 6608  34.375   NaN        S

Filas pares:
      PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

Nombres en primera clase (ordenados):
                                                 Name
730                    Allen, Miss. Elisabeth Walton
305                   Allison, Master. Hudson Trevor
297                     Allison, Miss. Helen Loraine
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                              Anderson, Mr. Harry
..                                               ...
155                      Williams, Mr. Charles Duane
351           Williams-Lambert, Mr. Fletcher Fellows
55                                 Woolner, Mr. Hugh
555                               Wright, Mr. George
325                         Young, Miss. Marie Grice

[216 rows x 1 columns]

Porcentaje de sobrevivientes y fallecidos:
 Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

Porcentaje de sobrevivientes por clase:
 Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

DataFrame sin edades desconocidas (primeras 5 filas):
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Edad media de mujeres por clase:
 Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

DataFrame con columna MenorEdad (primeras 5 filas):
    PassengerId                                               Name   Age  \
0            1                            Braund, Mr. Owen Harris  22.0
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2            3                             Heikkinen, Miss. Laina  26.0
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4            5                           Allen, Mr. William Henry  35.0

   MenorEdad
0      False
1      False
2      False
3      False
4      False

Porcentaje de sobrevivientes por clase y grupo de edad:
 Pclass  EdadGrupo
1       Mayor        61.274510
        Menor        91.666667
2       Mayor        40.993789
        Menor        91.304348
3       Mayor        21.791768
        Menor        37.179487
Name: Survived, dtype: float64

EJERCICIO 8 -> Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,
contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017,
2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
Generar un DataFrame con los datos de los cuatro ficheros.
Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO,
MES y las correspondientes a los días D01, D02, etc.
Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días
aparezcan en una única columna.
Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo
datetime).
Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el
DataFrame por estaciones contaminantes y fecha.
Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una
serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
Mostrar un resumen descriptivo para cada contaminante por distritos.
Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de
las emisiones del contaminante indicado en la estación indicada.
Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados
para todos las estaciones.
Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias
mensuales de los distintos tipos de contaminantes.

In [13]:
import numpy as np
from datetime import datetime

# Datos ficticios simulando los archivos de emisiones
datos = {
    'ESTACION': ['Est1', 'Est1', 'Est2'],
    'MAGNITUD': ['NO2', 'CO', 'NO2'],
    'AÑO': [2016, 2016, 2017],
    'MES': [1, 2, 1],
    'D01': [10.0, 0.5, 12.0],
    'D02': [11.0, 0.6, 13.0]
}
df = pd.DataFrame(datos)

# 1. Combinar archivos (simulado con un solo DataFrame)
# En un caso real: df = pd.concat([pd.read_csv(f'emisiones-{year}.csv') for year in [2016, 2017, 2018, 2019]])

# 2. Filtrar columnas
columnas_dias = [col for col in df.columns if col.startswith('D')]
columnas = ['ESTACION', 'MAGNITUD', 'AÑO', 'MES'] + columnas_dias
df_filtrado = df[columnas]

# 3. Reestructurar DataFrame (melt)
df_melt = pd.melt(
    df_filtrado,
    id_vars=['ESTACION', 'MAGNITUD', 'AÑO', 'MES'],
    value_vars=columnas_dias,
    var_name='DIA',
    value_name='VALOR'
)

# 4. Añadir columna de fecha
df_melt['DIA'] = df_melt['DIA'].str.replace('D', '').astype(int)
# Correcting the to_datetime call to explicitly map columns
df_melt['FECHA'] = pd.to_datetime(df_melt[['AÑO', 'MES', 'DIA']].rename(columns={'AÑO': 'year', 'MES': 'month', 'DIA': 'day'}), errors='coerce')

# 5. Eliminar fechas no válidas y ordenar
df_melt = df_melt.dropna(subset=['FECHA']).sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

# 6. Mostrar estaciones y contaminantes
print("Estaciones disponibles:", df_melt['ESTACION'].unique())
print("Contaminantes disponibles:", df_melt['MAGNITUD'].unique())

# 7. Resumen descriptivo por contaminante
resumen_contaminante = df_melt.groupby('MAGNITUD')['VALOR'].describe()
print("\nResumen descriptivo por contaminante:\n", resumen_contaminante)

# 8. Resumen descriptivo por estación
resumen_estacion = df_melt.groupby(['ESTACION', 'MAGNITUD'])['VALOR'].describe()
print("\nResumen descriptivo por estación y contaminante:\n", resumen_estacion)

# 9. Función para resumen de una estación y contaminante
def resumen_emisiones(estacion, contaminante):
    return df_melt[(df_melt['ESTACION'] == estacion) & (df_melt['MAGNITUD'] == contaminante)]['VALOR'].describe()

# 10. Función para emisiones medias mensuales por contaminante y año
def emisiones_medias_mensuales(contaminante, año):
    return df_melt[(df_melt['MAGNITUD'] == contaminante) & (df_melt['AÑO'] == año)].groupby(['ESTACION', 'MES'])['VALOR'].mean()

# 11. Función para medias mensuales por estación
def medias_mensuales_estacion(estacion):
    return df_melt[df_melt['ESTACION'] == estacion].groupby(['MES', 'MAGNITUD'])['VALOR'].mean().unstack()

# Ejemplo de uso de las funciones
print("\nResumen para Est1, NO2:\n", resumen_emisiones('Est1', 'NO2'))
print("\nEmisiones medias mensuales para NO2, 2016:\n", emisiones_medias_mensuales('NO2', 2016))
print("\nMedias mensuales para Est1:\n", medias_mensuales_estacion('Est1'))

Estaciones disponibles: ['Est1' 'Est2']
Contaminantes disponibles: ['CO' 'NO2']

Resumen descriptivo por contaminante:
           count   mean       std   min     25%    50%     75%   max
MAGNITUD
CO          2.0   0.55  0.070711   0.5   0.525   0.55   0.575   0.6
NO2         4.0  11.50  1.290994  10.0  10.750  11.50  12.250  13.0

Resumen descriptivo por estación y contaminante:
                    count   mean       std   min     25%    50%     75%   max
ESTACION MAGNITUD
Est1     CO          2.0   0.55  0.070711   0.5   0.525   0.55   0.575   0.6
         NO2         2.0  10.50  0.707107  10.0  10.250  10.50  10.750  11.0
Est2     NO2         2.0  12.50  0.707107  12.0  12.250  12.50  12.750  13.0

Resumen para Est1, NO2:
 count     2.000000
mean     10.500000
std       0.707107
min      10.000000
25%      10.250000
50%      10.500000
75%      10.750000
max      11.000000
Name: VALOR, dtype: float64

Emisiones medias mensuales para NO2, 2016:
 ESTACION  MES
Est1      1      10.5
Name: VALOR, dtype: float64

Medias mensuales para Est1:
 MAGNITUD    CO   NO2
MES
1          NaN  10.5
2         0.55   NaN